---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: clusteruserdefinednetworks.k8s.ovn.org
spec:
  group: k8s.ovn.org
  names:
    kind: ClusterUserDefinedNetwork
    listKind: ClusterUserDefinedNetworkList
    plural: clusteruserdefinednetworks
    singular: clusteruserdefinednetwork
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: ClusterUserDefinedNetwork schema
        type: object
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ClusterUserDefinedNetworkSpec defines the desired state of ClusterUserDefinedNetwork
            type: object
            properties:
              namespaceSelector:
                type: object
              network:
                type: object
          status:
            description: ClusterUserDefinedNetworkStatus defines the observed state of ClusterUserDefinedNetwork
            type: object
    served: true
    storage: true

